In [1]:
import pandas as pd
import numpy as np

import sys
import os

# Get the parent directory path
parent_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))
if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)
    
from src.data_processing import (
    get_daily_segments_loc,
    check_and_filter_nan_segments,
    find_intervals_more_than_15_and_fill
)
from src.data_loaders import (
    load_data_iso,
    load_data_cap,
    load_data_cap1,
    load_data_ohio,
    load_data_glucobench
)

In [4]:
def raw_analysis(all_data_dict):
    
    # Placeholder for all BG measurements, TIR, TBR, TAR percentages, and total days
    all_bg_values = []
    tir_percentages = []  # Store TIR percentages for each patient
    tbr_percentages = []  # Store TBR percentages for each patient
    tar_percentages = []  # Store TAR percentages for each patient
    total_measurements = 0
    total_days_list = []

    # Iterate over each patient's all_data DataFrame
    for patient_id, data in all_data_dict.items():
        if 'cbg' in data.columns:
            # Extract blood glucose values
            bg_values = data['cbg'].dropna().values
            all_bg_values.extend(bg_values)
            
            # Calculate TIR, TBR, TAR for the current patient (in mmol/L)
            tir_count = sum((3.9 <= bg_values) & (bg_values <= 10.0))  # TIR count for this patient
            tbr_count = sum(bg_values < 3.9)  # TBR count for this patient
            tar_count = sum(bg_values > 10.0)  # TAR count for this patient
            
            # Calculate TIR, TBR, and TAR percentages for the current patient
            tir_percentage = (tir_count / len(bg_values)) * 100  # TIR percentage for this patient
            tbr_percentage = (tbr_count / len(bg_values)) * 100  # TBR percentage for this patient
            tar_percentage = (tar_count / len(bg_values)) * 100  # TAR percentage for this patient
            
            # Append the percentages to their respective lists
            tir_percentages.append(tir_percentage)
            tbr_percentages.append(tbr_percentage)
            tar_percentages.append(tar_percentage)
            
            # Update total measurements
            total_measurements += len(bg_values)
            
            # Calculate total number of rows (5-minute intervals)
            total_intervals = len(data)
            
            # Convert intervals to days (since 288 intervals = 1 day)
            total_days = total_intervals / 288

            if patient_id == "1636-69-001":
                total_days = 10
            # Append to the list of total days
            total_days_list.append(total_days)

    # Convert BG values to pandas Series for easier calculation
    all_bg_series = pd.Series(all_bg_values)

    # Calculate mean and standard deviation for BG
    mean_bg = np.nanmean(all_bg_series)
    std_bg = np.nanstd(all_bg_series)

    # Calculate mean and standard deviation for TIR, TBR, and TAR percentages
    mean_tir = pd.Series(tir_percentages).mean()
    std_tir = pd.Series(tir_percentages).std()

    mean_tbr = pd.Series(tbr_percentages).mean()
    std_tbr = pd.Series(tbr_percentages).std()

    mean_tar = pd.Series(tar_percentages).mean()
    std_tar = pd.Series(tar_percentages).std()

    # Convert the total days list to a pandas Series for calculations
    total_days_series = pd.Series(total_days_list)

    # Calculate mean and standard deviation for days
    mean_days = total_days_series.mean()
    std_days = total_days_series.std()

    # Output the results
    print(f"Mean Blood Glucose: {mean_bg:.2f} mmol/L")
    print(f"Standard Deviation of Blood Glucose: {std_bg:.2f} mmol/L")
    print(f"Mean TIR (3.9–10.0 mmol/L): {mean_tir:.2f}%")
    print(f"Standard Deviation of TIR: {std_tir:.2f}%")
    print(f"Mean TBR (< 3.9 mmol/L): {mean_tbr:.2f}%")
    print(f"Standard Deviation of TBR: {std_tbr:.2f}%")
    print(f"Mean TAR (> 10.0 mmol/L): {mean_tar:.2f}%")
    print(f"Standard Deviation of TAR: {std_tar:.2f}%")
    print(f"Mean Days: {mean_days:.2f}")
    print(f"Standard Deviation of Days: {std_days:.2f}")

In [5]:
def preprocessing(all_data_dict, patient_ids, percentile=0.8):
    # 1. create continues
    cont_segments_dict = {}
    filtered_segments_dict = {}

    for patient_id in patient_ids:
        patient_data = all_data_dict
        cont_segments_loc = get_daily_segments_loc(
            {patient_id: patient_data[patient_id]}, "cbg"
        )
        cont_segments_dict[patient_id] = cont_segments_loc[patient_id]
        filtered_segments = check_and_filter_nan_segments(
            patient_data[patient_id], cont_segments_dict[patient_id], "cbg"
        )
        filtered_segments_dict[patient_id] = filtered_segments

    # Initialize a new dictionary to store the segmented data per patient
    segmented_data_dict = {}
    segment_stats_dict = {}
    # Loop over each patient and extract their segments based on the filtered indices
    for patient_id, filtered_segments in filtered_segments_dict.items():
        # Get the start indices for the patient's filtered segments
        start_indices = filtered_segments["start_indices"]
        end_indices = filtered_segments["end_indices"]

        # Extract the corresponding data for each segment
        patient_data = all_data_dict[
            patient_id
        ]  # Assuming this is the full data for the patient

        # Initialize a list to store the segmented data for the patient
        patient_segments = []
        patient_segment_stats = []

        # Loop over the start indices to slice the data for each segment
        for i in range(
            len(start_indices)
        ):  # Loop until the second-to-last index (since we're using pairs)
            start_idx = start_indices[i]
            end_idx = end_indices[i]

            # Extract the segment for this pair of indices
            segment_data = patient_data[start_idx : end_idx + 1]["cbg"]

            # Calculate the length of the segment
            segment_length = len(segment_data)

            # Count the number of NaN values in the segment
            num_nan_values = np.sum(np.isnan(segment_data))

            if segment_length == 288:
                # print(f"The segment has {num_nan_values} NaN values.")
                # Append the segment to the patient's list of segments
                patient_segments.append(np.array(segment_data))

                # Store the statistics (length and NaN count) for this segment
                patient_segment_stats.append(
                    {"segment_length": segment_length, "num_nan_values": num_nan_values}
                )
        if len(patient_segments) != 0:
            # Store the segmented data in the dictionary, using the patient_id as the key
            segmented_data_dict[patient_id] = patient_segments
            segment_stats_dict[patient_id] = patient_segment_stats

    original_segments = segmented_data_dict

    # 2. censored segments
    # Dictionary for storing the interpolated data for each patient
    censored_segments = {}
    censored_thresh = {}
    censored_segment_indices = {}
    thresh_data = {}

    # Assuming 'original_data' is a dictionary with patient data, and each entry is a 1D array of continuous data points
    for patient_id, segments in original_segments.items():
        # Store interpolated segments for the current patient
        censored_segments[patient_id] = []
        censored_thresh[patient_id] = []
        censored_segment_indices[patient_id] = []
        thresh_data[patient_id] = []

        for segment in segments:
            if len(segment) != 288:
                print("segment len = ", len(segment))
            thresh = np.quantile(segment[~np.isnan(segment)], percentile)
            if thresh == np.max(segment[~np.isnan(segment)]):
                print("maximum thresh")
                filtered_segment = segment[~np.isnan(segment)]  # Remove NaN values
                filtered_segment = filtered_segment[
                    filtered_segment < np.max(filtered_segment)
                ]  # Exclude the max value
                # Compute the quantile on the filtered dataset
                thresh = np.quantile(filtered_segment, percentile)
                print("new thresh = ", thresh)
            # pint("thresh = ", thresh)
            censored_thresh[patient_id].append(thresh)
            censored_segment = np.where(segment > thresh, np.nan, segment)
            censored_segment_index = np.where(segment > thresh)

            censored_segments[patient_id].append(censored_segment)
            censored_segment_indices[patient_id].append(censored_segment_index)
            thresh_data[patient_id].append(thresh)

    return original_segments

In [6]:
def preprocessing_analysis(segments):
    # Placeholder for overall values
    all_patient_mean_bg = []
    all_patient_std_bg = []
    all_patient_mean_tir = []
    all_patient_std_tir = []
    all_patient_mean_tbr = []
    all_patient_std_tbr = []
    all_patient_mean_tar = []
    all_patient_std_tar = []
    all_patient_mean_days = []
    all_patient_std_days = []

    # Iterate over each patient's data (which is a list of daily arrays)
    for patient_id, daily_data_list in segments.items():
        daily_bg_values = []
        daily_tir_percentages = []
        daily_tbr_percentages = []
        daily_tar_percentages = []
        total_days = len(daily_data_list)
        
        # Process each day's data for the patient
        for daily_data in daily_data_list:
            daily_data = np.array(daily_data)  # Ensure it's a NumPy array
            
            # Blood glucose values
            bg_values = daily_data
            daily_bg_values.extend(bg_values)
            
            # Calculate TIR, TBR, TAR for the current day's data (in mmol/L)
            tir_count = np.sum((bg_values >= 3.9) & (bg_values <= 10.0))  # TIR count for this day
            tbr_count = np.sum(bg_values < 3.9)  # TBR count for this day
            tar_count = np.sum(bg_values > 10.0)  # TAR count for this day
            
            # Calculate TIR, TBR, and TAR percentages for the current day
            tir_percentage = (tir_count / len(bg_values)) * 100  # TIR percentage for this day
            tbr_percentage = (tbr_count / len(bg_values)) * 100  # TBR percentage for this day
            tar_percentage = (tar_count / len(bg_values)) * 100  # TAR percentage for this day
            
            # Store daily TIR, TBR, TAR percentages
            daily_tir_percentages.append(tir_percentage)
            daily_tbr_percentages.append(tbr_percentage)
            daily_tar_percentages.append(tar_percentage)
        
        # Calculate mean and standard deviation for BG, TIR, TBR, TAR for this patient
        mean_bg = np.nanmean(daily_bg_values)
        std_bg = np.nanstd(daily_bg_values)
        
        mean_tir = np.mean(daily_tir_percentages)
        std_tir = np.std(daily_tir_percentages)
        
        mean_tbr = np.mean(daily_tbr_percentages)
        std_tbr = np.std(daily_tbr_percentages)
        
        mean_tar = np.mean(daily_tar_percentages)
        std_tar = np.std(daily_tar_percentages)
        
        # Store the results for the patient
        all_patient_mean_bg.append(mean_bg)
        all_patient_std_bg.append(std_bg)
        all_patient_mean_tir.append(mean_tir)
        all_patient_std_tir.append(std_tir)
        all_patient_mean_tbr.append(mean_tbr)
        all_patient_std_tbr.append(std_tbr)
        all_patient_mean_tar.append(mean_tar)
        all_patient_std_tar.append(std_tar)
        all_patient_mean_days.append(total_days)
        
    # Convert lists to pandas Series for easier calculation
    mean_bg_series = pd.Series(all_patient_mean_bg)
    std_bg_series = pd.Series(all_patient_std_bg)
    mean_tir_series = pd.Series(all_patient_mean_tir)
    std_tir_series = pd.Series(all_patient_std_tir)
    mean_tbr_series = pd.Series(all_patient_mean_tbr)
    std_tbr_series = pd.Series(all_patient_std_tbr)
    mean_tar_series = pd.Series(all_patient_mean_tar)
    std_tar_series = pd.Series(all_patient_std_tar)
    mean_days_series = pd.Series(all_patient_mean_days)

    # Calculate overall mean and standard deviation across all patients
    overall_mean_bg = np.nanmean(mean_bg_series)
    overall_std_bg = np.nanstd(mean_bg_series)

    overall_mean_tir = mean_tir_series.mean()
    overall_std_tir = std_tir_series.mean()

    overall_mean_tbr = mean_tbr_series.mean()
    overall_std_tbr = std_tbr_series.mean()

    overall_mean_tar = mean_tar_series.mean()
    overall_std_tar = std_tar_series.mean()

    overall_mean_days = mean_days_series.mean()
    overall_std_days = mean_days_series.std()

    # Output results per patient and across all patients
    # print("Per Patient Metrics:")
    # for i, patient_id in enumerate(segments.keys()):
    #     print(f"Patient {patient_id}:")
    #     print(f"  Mean BG: {all_patient_mean_bg[i]:.2f} mmol/L")
    #     print(f"  Std BG: {all_patient_std_bg[i]:.2f} mmol/L")
    #     print(f"  Mean TIR: {all_patient_mean_tir[i]:.2f}%")
    #     print(f"  Std TIR: {all_patient_std_tir[i]:.2f}%")
    #     print(f"  Mean TBR: {all_patient_mean_tbr[i]:.2f}%")
    #     print(f"  Std TBR: {all_patient_std_tbr[i]:.2f}%")
    #     print(f"  Mean TAR: {all_patient_mean_tar[i]:.2f}%")
    #     print(f"  Std TAR: {all_patient_std_tar[i]:.2f}%")
    #     print(f"  Total Days: {all_patient_mean_days[i]:.2f} days")
    #     print("-" * 40)

    print("\nOverall Metrics Across All Patients:")
    print(f"Mean BG: {overall_mean_bg:.2f} mmol/L")
    print(f"Standard Deviation of BG: {overall_std_bg:.2f} mmol/L")
    print(f"Mean TIR: {overall_mean_tir:.2f}%")
    print(f"Standard Deviation of TIR: {overall_std_tir:.2f}%")
    print(f"Mean TBR: {overall_mean_tbr:.2f}%")
    print(f"Standard Deviation of TBR: {overall_std_tbr:.2f}%")
    print(f"Mean TAR: {overall_mean_tar:.2f}%")
    print(f"Standard Deviation of TAR: {overall_std_tar:.2f}%")
    print(f"Mean Days: {overall_mean_days:.2f}")
    print(f"Standard Deviation of Days: {overall_std_days:.2f}")

Ohio

In [5]:
# Create the DataFrame
data = {
    "ID": [540, 544, 552, 567, 584, 596, 559, 563, 570, 575, 588, 591],
    "Gender": ["male", "male", "male", "female", "male", "male", "female", "male", "male", "female", "female", "female"],
    "Age": ["20–40", "40–60", "20–40", "20–40", "40–60", "60–80", "40–60", "40–60", "40–60", "40–60", "40–60", "40–60"],
    "Pump Model": ["630G", "530G", "630G", "630G", "530G", "530G", "530G", "530G", "530G", "530G", "530G", "530G"],
    "Sensor Band": ["Empatica", "Empatica", "Empatica", "Empatica", "Empatica", "Empatica", "Basis", "Basis", "Basis", "Basis", "Basis", "Basis"],
    "Cohort": [2020, 2020, 2020, 2020, 2020, 2020, 2018, 2018, 2018, 2018, 2018, 2018]
}

df = pd.DataFrame(data)

# Extract lower and upper bounds from the 'Age' column
df['Lower Bound'] = df['Age'].apply(lambda x: int(x.split('–')[0]))
df['Upper Bound'] = df['Age'].apply(lambda x: int(x.split('–')[1]))

# Calculate mean lower and upper bounds
mean_lower_bound = np.mean(df['Lower Bound'])
mean_upper_bound = np.mean(df['Upper Bound'])

print("Mean Lower Bound:", mean_lower_bound)
print("Mean Upper Bound:", mean_upper_bound)
print("Mean Age Range: [{:.2f}, {:.2f}]".format(mean_lower_bound, mean_upper_bound))

Mean Lower Bound: 36.666666666666664
Mean Upper Bound: 56.666666666666664
Mean Age Range: [36.67, 56.67]

In [6]:
patient_ids = [
            "540",
            "544",
            "552",
            "559",
            "563",
            "567",
            "570",
            "575",
            "584",
            "588",
            "591",
            "596",
        ]
train_data_dict = {}
test_data_dict = {}
all_data_dict = {}
for patient_id in patient_ids:
    _, train_data, test_data, all_data = load_data_ohio(
        patient_id, include_test=True
    )
    train_data_dict[patient_id] = train_data
    test_data_dict[patient_id] = test_data
    all_data_dict[patient_id] = all_data

In [7]:
all_data_dict['540']

,5minute_intervals_timestamp,missing_cbg,cbg,finger,basal,hr,gsr,carbInput,bolus,timestamp,minutes_elapsed,days_elapsed
0,6.035755e+06,0.0,4.2180,80.0,NaN,NaN,0.337214,NaN,NaN,11/03/1970 20:35,0,0.000000
1,6.035756e+06,0.0,3.9960,NaN,NaN,NaN,0.317671,NaN,NaN,11/03/1970 20:35,5,0.003472
2,6.035757e+06,0.0,3.7740,NaN,NaN,NaN,0.342821,NaN,NaN,11/03/1970 20:35,10,0.006944
3,6.035758e+06,0.0,3.6075,NaN,NaN,NaN,0.359941,NaN,NaN,11/03/1970 20:35,15,0.010417
4,6.035759e+06,0.0,3.4965,NaN,NaN,NaN,0.365833,NaN,NaN,11/03/1970 20:35,20,0.013889
...,...,...,...,...,...,...,...,...,...,...,...,...
16169,6.051926e+06,0.0,13.3200,NaN,0.8,NaN,NaN,NaN,NaN,12/03/1970 01:05,80845,56.142361
16170,6.051927e+06,0.0,13.8195,NaN,0.8,NaN,NaN,NaN,NaN,12/03/1970 01:05,80850,56.145833
16171,6.051928e+06,0.0,14.0970,NaN,0.8,NaN,NaN,NaN,NaN,12/03/1970 01:05,80855,56.149306
16172,6.051929e+06,0.0,13.7640,NaN,0.8,NaN,NaN,NaN,NaN,12/03/1970 01:05,80860,56.152778
16173,6.051930e+06,0.0,13.4310,NaN,0.8,NaN,NaN,NaN,NaN,12/03/1970 01:05,80865,56.156250

In [8]:
len(all_data_dict)

12

In [9]:
raw_analysis(all_data_dict)

total day =  56.15972222222222 540
total day =  54.885416666666664 544
total day =  52.24652777777778 552
total day =  51.93055555555556 559
total day =  54.81944444444444 563
total day =  56.96180555555556 567
total day =  50.3125 570
total day =  54.93402777777778 575
total day =  56.395833333333336 584
total day =  55.50347222222222 588
total day =  54.173611111111114 591
total day =  57.74652777777778 596
Mean Blood Glucose: 8.86 mmol/L
Standard Deviation of Blood Glucose: 3.37 mmol/L
Mean TIR (3.9–10.0 mmol/L): 63.28%
Standard Deviation of TIR: 10.05%
Mean TBR (< 3.9 mmol/L): 3.56%
Standard Deviation of TBR: 2.49%
Mean TAR (> 10.0 mmol/L): 33.16%
Standard Deviation of TAR: 11.19%
Mean Days: 54.67
Standard Deviation of Days: 2.20

In [10]:
segments = preprocessing(all_data_dict, patient_ids)

maximum thresh
new thresh =  16.206

In [11]:
len(segments)

12

In [12]:
preprocessing_analysis(segments)

Overall Metrics Across All Patients:
Mean BG: 8.80 mmol/L
Standard Deviation of BG: 0.88 mmol/L
Mean TIR: 63.14%
Standard Deviation of TIR: 15.77%
Mean TBR: 3.18%
Standard Deviation of TBR: 3.82%
Mean TAR: 32.07%
Standard Deviation of TAR: 15.82%
Mean Days: 35.75
Standard Deviation of Days: 8.18

Broll

In [13]:
all_data_dict, patient_ids = load_data_glucobench('iglu')

In [14]:
print("Raw # Subjects​", len(all_data_dict))
print("Raw Analysis")
raw_analysis(all_data_dict)
segments = preprocessing(all_data_dict, patient_ids)
print("Processed # Subjects​", len(segments))
print("\nProcessed Analysis")
preprocessing_analysis(segments)

Raw # Subjects​ 5
Raw Analysis
total day =  12.072916666666666 Subject 1
total day =  16.65972222222222 Subject 2
total day =  5.663194444444445 Subject 3
total day =  12.836805555555555 Subject 4
total day =  10.565972222222221 Subject 5
Mean Blood Glucose: 8.81 mmol/L
Standard Deviation of Blood Glucose: 3.15 mmol/L
Mean TIR (3.9–10.0 mmol/L): 71.31%
Standard Deviation of TIR: 28.17%
Mean TBR (< 3.9 mmol/L): 0.20%
Standard Deviation of TBR: 0.17%
Mean TAR (> 10.0 mmol/L): 28.50%
Standard Deviation of TAR: 28.30%
Mean Days: 11.56
Standard Deviation of Days: 3.99
Processed # Subjects​ 5

Processed Analysis

Overall Metrics Across All Patients:
Mean BG: 8.94 mmol/L
Standard Deviation of BG: 1.86 mmol/L
Mean TIR: 68.90%
Standard Deviation of TIR: 10.05%
Mean TBR: 0.25%
Standard Deviation of TBR: 0.41%
Mean TAR: 29.28%
Standard Deviation of TAR: 9.83%
Mean Days: 7.20
Standard Deviation of Days: 2.95

Colas

In [15]:
all_data_dict, patient_ids = load_data_glucobench('colas')

In [16]:
all_data_dict

{'121':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0         14032  121 2012-01-01 00:00:00  3.9405     1.0  42.0  37.3
 1         14033  121 2012-01-01 00:05:00  4.2735     1.0  42.0  37.3
 2         14034  121 2012-01-01 00:10:00  4.6620     1.0  42.0  37.3
 3         14035  121 2012-01-01 00:15:00  4.8840     1.0  42.0  37.3
 4         14036  121 2012-01-01 00:20:00  4.9395     1.0  42.0  37.3
 ..          ...  ...                 ...     ...     ...   ...   ...
 283       14315  121 2012-01-01 23:35:00  6.2715     1.0  42.0  37.3
 284       14316  121 2012-01-01 23:40:00  6.2715     1.0  42.0  37.3
 285       14317  121 2012-01-01 23:45:00  6.2715     1.0  42.0  37.3
 286       14318  121 2012-01-01 23:50:00  6.2715     1.0  42.0  37.3
 287       14319  121 2012-01-01 23:55:00  6.2715     1.0  42.0  37.3

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0         93.0    6.1      554.0  True                0      0.000000
 1         93.0    6.1      554.0  True                5      0.003472
 2         93.0    6.1      554.0  True               10      0.006944
 3         93.0    6.1      554.0  True               15      0.010417
 4         93.0    6.1      554.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 283       93.0    6.1      554.0  True             1415      0.982639
 284       93.0    6.1      554.0  True             1420      0.986111
 285       93.0    6.1      554.0  True             1425      0.989583
 286       93.0    6.1      554.0  True             1430      0.993056
 287       93.0    6.1      554.0  True             1435      0.996528

 [288 rows x 13 columns],
 '153':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0         32888  153 2012-01-01 00:00:00  5.8830     0.0  59.0  37.4
 1         32889  153 2012-01-01 00:05:00  5.8830     0.0  59.0  37.4
 2         32890  153 2012-01-01 00:10:00  5.8275     0.0  59.0  37.4
 3         32891  153 2012-01-01 00:15:00  5.7720     0.0  59.0  37.4
 4         32892  153 2012-01-01 00:20:00  5.7165     0.0  59.0  37.4
 ..          ...  ...                 ...     ...     ...   ...   ...
 571       33459  153 2012-01-02 23:35:00  6.4935     0.0  59.0  37.4
 572       33460  153 2012-01-02 23:40:00  6.4380     0.0  59.0  37.4
 573       33461  153 2012-01-02 23:45:00  6.4380     0.0  59.0  37.4
 574       33462  153 2012-01-02 23:50:00  6.5490     0.0  59.0  37.4
 575       33463  153 2012-01-02 23:55:00  6.6045     0.0  59.0  37.4

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        108.0    5.9      785.0  True                0      0.000000
 1        108.0    5.9      785.0  True                5      0.003472
 2        108.0    5.9      785.0  True               10      0.006944
 3        108.0    5.9      785.0  True               15      0.010417
 4        108.0    5.9      785.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 571      108.0    5.9      785.0  True             2855      1.982639
 572      108.0    5.9      785.0  True             2860      1.986111
 573      108.0    5.9      785.0  True             2865      1.989583
 574      108.0    5.9      785.0  True             2870      1.993056
 575      108.0    5.9      785.0  True             2875      1.996528

 [576 rows x 13 columns],
 '155':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0         34040  155 2012-01-01 00:00:00  4.9950     0.0  67.0  33.4
 1         34041  155 2012-01-01 00:05:00  5.0505     0.0  67.0  33.4
 2         34042  155 2012-01-01 00:10:00  5.1060     0.0  67.0  33.4
 3         34043  155 2012-01-01 00:15:00  5.1615     0.0  67.0  33.4
 4         34044  155 2012-01-01 00:20:00  5.2170     0.0  67.0  33.4
 ..          ...  ...                 ...     ...     ...   ...   ...
 571       34611  155 2012-01-02 23:35:00  6.6600     0.0  67.0  33.4
 572       34612  155 2012-01-02 23:40:00  6.6045     0.0  67.0  33.4
 573       34613  155 2012-01-02 23:45:00  6.6600     0.0  67.0  33.4
 574       34614  155 2012-01-02 23:50:00  6.6600     0.0  67.0  33.4
 575       34615  155 2012-01-02 23:55:00  6.5490     0.0  67.0  33.4

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        122.0    5.8     1508.0  True                0      0.000000
 1        122.0    5.8     1508.0  True                5      0.003472
 2        122.0    5.8     1508.0  True               10      0.006944
 3        122.0    5.8     1508.0  True               15      0.010417
 4        122.0    5.8     1508.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 571      122.0    5.8     1508.0  True             2855      1.982639
 572      122.0    5.8     1508.0  True             2860      1.986111
 573      122.0    5.8     1508.0  True             2865      1.989583
 574      122.0    5.8     1508.0  True             2870      1.993056
 575      122.0    5.8     1508.0  True             2875      1.996528

 [576 rows x 13 columns],
 '157':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0         35192  157 2012-01-01 00:00:00  6.6045     0.0  73.0  33.7
 1         35193  157 2012-01-01 00:05:00  6.6600     0.0  73.0  33.7
 2         35194  157 2012-01-01 00:10:00  6.7155     0.0  73.0  33.7
 3         35195  157 2012-01-01 00:15:00  6.7155     0.0  73.0  33.7
 4         35196  157 2012-01-01 00:20:00  6.8265     0.0  73.0  33.7
 ..          ...  ...                 ...     ...     ...   ...   ...
 571       35763  157 2012-01-02 23:35:00  7.2705     0.0  73.0  33.7
 572       35764  157 2012-01-02 23:40:00  7.3260     0.0  73.0  33.7
 573       35765  157 2012-01-02 23:45:00  7.3815     0.0  73.0  33.7
 574       35766  157 2012-01-02 23:50:00  7.4370     0.0  73.0  33.7
 575       35767  157 2012-01-02 23:55:00  7.4925     0.0  73.0  33.7

      glycaemia    HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        104.0  5.76671      870.0  True                0      0.000000
 1        104.0  5.76671      870.0  True                5      0.003472
 2        104.0  5.76671      870.0  True               10      0.006944
 3        104.0  5.76671      870.0  True               15      0.010417
 4        104.0  5.76671      870.0  True               20      0.013889
 ..         ...      ...        ...   ...              ...           ...
 571      104.0  5.76671      870.0  True             2855      1.982639
 572      104.0  5.76671      870.0  True             2860      1.986111
 573      104.0  5.76671      870.0  True             2865      1.989583
 574      104.0  5.76671      870.0  True             2870      1.993056
 575      104.0  5.76671      870.0  True             2875      1.996528

 [576 rows x 13 columns],
 '161':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0         37738  161 2012-01-01 00:00:00  5.7720     0.0  66.0  30.5
 1         37739  161 2012-01-01 00:05:00  5.8275     0.0  66.0  30.5
 2         37740  161 2012-01-01 00:10:00  5.8275     0.0  66.0  30.5
 3         37741  161 2012-01-01 00:15:00  5.7720     0.0  66.0  30.5
 4         37742  161 2012-01-01 00:20:00  5.7165     0.0  66.0  30.5
 ..          ...  ...                 ...     ...     ...   ...   ...
 571       38309  161 2012-01-02 23:35:00  5.2725     0.0  66.0  30.5
 572       38310  161 2012-01-02 23:40:00  5.2170     0.0  66.0  30.5
 573       38311  161 2012-01-02 23:45:00  5.2170     0.0  66.0  30.5
 574       38312  161 2012-01-02 23:50:00  5.1615     0.0  66.0  30.5
 575       38313  161 2012-01-02 23:55:00  5.1060     0.0  66.0  30.5

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        118.0    6.3     1345.0  True                0      0.000000
 1        118.0    6.3     1345.0  True                5      0.003472
 2        118.0    6.3     1345.0  True               10      0.006944
 3        118.0    6.3     1345.0  True               15      0.010417
 4        118.0    6.3     1345.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 571      118.0    6.3     1345.0  True             2855      1.982639
 572      118.0    6.3     1345.0  True             2860      1.986111
 573      118.0    6.3     1345.0  True             2865      1.989583
 574      118.0    6.3     1345.0  True             2870      1.993056
 575      118.0    6.3     1345.0  True             2875      1.996528

 [576 rows x 13 columns],
 '172':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0         44633  172 2012-01-01 00:00:00  6.1605     0.0  56.0  33.2
 1         44634  172 2012-01-01 00:05:00  6.2715     0.0  56.0  33.2
 2         44635  172 2012-01-01 00:10:00  6.3825     0.0  56.0  33.2
 3         44636  172 2012-01-01 00:15:00  6.5490     0.0  56.0  33.2
 4         44637  172 2012-01-01 00:20:00  6.6600     0.0  56.0  33.2
 ..          ...  ...                 ...     ...     ...   ...   ...
 571       45204  172 2012-01-02 23:35:00  4.7175     0.0  56.0  33.2
 572       45205  172 2012-01-02 23:40:00  5.0505     0.0  56.0  33.2
 573       45206  172 2012-01-02 23:45:00  5.6055     0.0  56.0  33.2
 574       45207  172 2012-01-02 23:50:00  6.1605     0.0  56.0  33.2
 575       45208  172 2012-01-02 23:55:00  6.6045     0.0  56.0  33.2

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        110.0    6.0      540.0  True                0      0.000000
 1        110.0    6.0      540.0  True                5      0.003472
 2        110.0    6.0      540.0  True               10      0.006944
 3        110.0    6.0      540.0  True               15      0.010417
 4        110.0    6.0      540.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 571      110.0    6.0      540.0  True             2855      1.982639
 572      110.0    6.0      540.0  True             2860      1.986111
 573      110.0    6.0      540.0  True             2865      1.989583
 574      110.0    6.0      540.0  True             2870      1.993056
 575      110.0    6.0      540.0  True             2875      1.996528

 [576 rows x 13 columns],
 '185':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0         52677  185 2012-01-01 00:00:00  7.2705     0.0  47.0  35.1
 1         52678  185 2012-01-01 00:05:00  7.1595     0.0  47.0  35.1
 2         52679  185 2012-01-01 00:10:00  7.0485     0.0  47.0  35.1
 3         52680  185 2012-01-01 00:15:00  6.8265     0.0  47.0  35.1
 4         52681  185 2012-01-01 00:20:00  6.5490     0.0  47.0  35.1
 ..          ...  ...                 ...     ...     ...   ...   ...
 571       53248  185 2012-01-02 23:35:00  5.6610     0.0  47.0  35.1
 572       53249  185 2012-01-02 23:40:00  5.6055     0.0  47.0  35.1
 573       53250  185 2012-01-02 23:45:00  5.5500     0.0  47.0  35.1
 574       53251  185 2012-01-02 23:50:00  5.5500     0.0  47.0  35.1
 575       53252  185 2012-01-02 23:55:00  5.4945     0.0  47.0  35.1

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0         79.0    5.7     1541.0  True                0      0.000000
 1         79.0    5.7     1541.0  True                5      0.003472
 2         79.0    5.7     1541.0  True               10      0.006944
 3         79.0    5.7     1541.0  True               15      0.010417
 4         79.0    5.7     1541.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 571       79.0    5.7     1541.0  True             2855      1.982639
 572       79.0    5.7     1541.0  True             2860      1.986111
 573       79.0    5.7     1541.0  True             2865      1.989583
 574       79.0    5.7     1541.0  True             2870      1.993056
 575       79.0    5.7     1541.0  True             2875      1.996528

 [576 rows x 13 columns],
 '191':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0       56412.0  191 2012-01-01 00:00:00  4.3290     0.0  63.0  35.6
 1       56413.0  191 2012-01-01 00:05:00  4.2180     0.0  63.0  35.6
 2       56414.0  191 2012-01-01 00:10:00  4.1625     0.0  63.0  35.6
 3       56415.0  191 2012-01-01 00:15:00  4.1625     0.0  63.0  35.6
 4       56416.0  191 2012-01-01 00:20:00  4.1625     0.0  63.0  35.6
 ..          ...  ...                 ...     ...     ...   ...   ...
 570     56974.0  191 2012-01-02 23:34:00  4.8840     0.0  63.0  35.6
 571     56975.0  191 2012-01-02 23:39:00  4.8840     0.0  63.0  35.6
 572     56976.0  191 2012-01-02 23:44:00  4.8840     0.0  63.0  35.6
 573     56977.0  191 2012-01-02 23:49:00  4.9395     0.0  63.0  35.6
 574     56978.0  191 2012-01-02 23:54:00  4.9395     0.0  63.0  35.6

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        116.0    6.2      979.0  True                0      0.000000
 1        116.0    6.2      979.0  True                5      0.003472
 2        116.0    6.2      979.0  True               10      0.006944
 3        116.0    6.2      979.0  True               15      0.010417
 4        116.0    6.2      979.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 570      116.0    6.2      979.0  True             2850      1.979167
 571      116.0    6.2      979.0  True             2855      1.982639
 572      116.0    6.2      979.0  True             2860      1.986111
 573      116.0    6.2      979.0  True             2865      1.989583
 574      116.0    6.2      979.0  True             2870      1.993056

 [575 rows x 13 columns],
 '195':      Unnamed: 0   id                 Tid     cbg  gender   age   BMI  \
 0         58707  195 2012-01-01 00:00:00  5.1615     1.0  61.0  28.8
 1         58708  195 2012-01-01 00:05:00  5.2170     1.0  61.0  28.8
 2         58709  195 2012-01-01 00:10:00  5.3280     1.0  61.0  28.8
 3         58710  195 2012-01-01 00:15:00  5.4390     1.0  61.0  28.8
 4         58711  195 2012-01-01 00:20:00  5.6055     1.0  61.0  28.8
 ..          ...  ...                 ...     ...     ...   ...   ...
 571       59278  195 2012-01-02 23:35:00  4.7175     1.0  61.0  28.8
 572       59279  195 2012-01-02 23:40:00  4.7730     1.0  61.0  28.8
 573       59280  195 2012-01-02 23:45:00  4.7730     1.0  61.0  28.8
 574       59281  195 2012-01-02 23:50:00  4.7730     1.0  61.0  28.8
 575       59282  195 2012-01-02 23:55:00  4.7730     1.0  61.0  28.8

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        101.0    6.2     1412.0  True                0      0.000000
 1        101.0    6.2     1412.0  True                5      0.003472
 2        101.0    6.2     1412.0  True               10      0.006944
 3        101.0    6.2     1412.0  True               15      0.010417
 4        101.0    6.2     1412.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 571      101.0    6.2     1412.0  True             2855      1.982639
 572      101.0    6.2     1412.0  True             2860      1.986111
 573      101.0    6.2     1412.0  True             2865      1.989583
 574      101.0    6.2     1412.0  True             2870      1.993056
 575      101.0    6.2     1412.0  True             2875      1.996528

 [576 rows x 13 columns],
 '22':      Unnamed: 0  id                 Tid     cbg  gender   age   BMI  \
 0         67511  22 2012-01-01 00:00:00  5.6610     1.0  83.0  24.9
 1         67512  22 2012-01-01 00:05:00  5.5500     1.0  83.0  24.9
 2         67513  22 2012-01-01 00:10:00  5.5500     1.0  83.0  24.9
 3         67514  22 2012-01-01 00:15:00  5.4945     1.0  83.0  24.9
 4         67515  22 2012-01-01 00:20:00  5.4390     1.0  83.0  24.9
 ..          ...  ..                 ...     ...     ...   ...   ...
 571       68082  22 2012-01-02 23:35:00  4.6620     1.0  83.0  24.9
 572       68083  22 2012-01-02 23:40:00  4.6620     1.0  83.0  24.9
 573       68084  22 2012-01-02 23:45:00  4.7175     1.0  83.0  24.9
 574       68085  22 2012-01-02 23:50:00  4.7730     1.0  83.0  24.9
 575       68086  22 2012-01-02 23:55:00  4.8840     1.0  83.0  24.9

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        101.0    5.5      817.0  True                0      0.000000
 1        101.0    5.5      817.0  True                5      0.003472
 2        101.0    5.5      817.0  True               10      0.006944
 3        101.0    5.5      817.0  True               15      0.010417
 4        101.0    5.5      817.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 571      101.0    5.5      817.0  True             2855      1.982639
 572      101.0    5.5      817.0  True             2860      1.986111
 573      101.0    5.5      817.0  True             2865      1.989583
 574      101.0    5.5      817.0  True             2870      1.993056
 575      101.0    5.5      817.0  True             2875      1.996528

 [576 rows x 13 columns],
 '23':      Unnamed: 0  id                 Tid     cbg  gender   age   BMI  \
 0         68087  23 2012-01-01 00:00:00  7.6590     0.0  63.0  29.4
 1         68088  23 2012-01-01 00:05:00  7.3815     0.0  63.0  29.4
 2         68089  23 2012-01-01 00:10:00  7.1595     0.0  63.0  29.4
 3         68090  23 2012-01-01 00:15:00  6.9375     0.0  63.0  29.4
 4         68091  23 2012-01-01 00:20:00  6.7710     0.0  63.0  29.4
 ..          ...  ..                 ...     ...     ...   ...   ...
 571       68658  23 2012-01-02 23:35:00  9.8790     0.0  63.0  29.4
 572       68659  23 2012-01-02 23:40:00  9.8235     0.0  63.0  29.4
 573       68660  23 2012-01-02 23:45:00  9.8235     0.0  63.0  29.4
 574       68661  23 2012-01-02 23:50:00  9.8235     0.0  63.0  29.4
 575       68662  23 2012-01-02 23:55:00  9.7680     0.0  63.0  29.4

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed
 0        116.0    6.1     1368.0  True                0      0.000000
 1        116.0    6.1     1368.0  True                5      0.003472
 2        116.0    6.1     1368.0  True               10      0.006944
 3        116.0    6.1     1368.0  True               15      0.010417
 4        116.0    6.1     1368.0  True               20      0.013889
 ..         ...    ...        ...   ...              ...           ...
 571      116.0    6.1     1368.0  True             2855      1.982639
 572      116.0    6.1     1368.0  True             2860      1.986111
 573      116.0    6.1     1368.0  True             2865      1.989583
 574      116.0    6.1     1368.0  True             2870      1.993056
 575      116.0    6.1     1368.0  True             2875      1.996528

 [576 rows x 13 columns],
 '25':      Unnamed: 0  id                 Tid     cbg  gender   age   BMI  \
 0         69180  25 2012-01-01 00:00:00  5.3835     0.0  51.0  29.8
 1         69181  25 2012-01-01 00:05:00  5.4945     0.0  51.0  29.8
 2         69182  25 2012-01-01 00:10:00  5.6055     0.0  51.0  29.8
 3         69183  25 2012-01-01 00:15:00  5.7165     0.0  51.0  29.8
 4         69184  25 2012-01-01 00:20:00  5.8275     0.0  51.0  29.8
 ..          ...  ..                 ...     ...     ...   ...   ...
 571       69751  25 2012-01-02 23:35:00  9.0465     0.0  51.0  29.8
 572       69752  25 2012-01-02 23:40:00  9.1575     0.0  51.0  29.8
 573       69753  25 2012-01-02 23:45:00  9.2685     0.0  51.0  29.8
 574       69754  25 2012-01-02 23:50:00  9.3240     0.0  51.0  29.8
 575       69755  25 2012-01-02 23:55:00  9.3795     0.0  51.0  29.8

      glycaemia  HbA1c  follow.up  T2DM  minutes_elapsed  days_elapsed

In [17]:
# Initialize counters for male and female patients
male_count = 0
female_count = 0

# Dictionary to store gender per patient
gender_per_patient = {}

# Iterate over each patient's data in the dictionary
for patient_id, data in all_data_dict.items():
    # Extract the gender value for the patient from the first row (assuming it's the same for the entire patient)
    gender = data['gender'].iloc[0]  # Using the first row to determine gender
    
    # Store the gender of the patient
    gender_per_patient[patient_id] = "Male" if gender == 0.0 else "Female"
    
    # Count the gender
    if gender == 0.0:
        male_count += 1
    elif gender == 1.0:
        female_count += 1

# Output the gender of each patient and the counts
print("Gender of each patient:")
for patient_id, gender in gender_per_patient.items():
    print(f"Patient {patient_id}: {gender}")

print(f"\nTotal number of male patients: {male_count}")
print(f"Total number of female patients: {female_count}")

Gender of each patient:
Patient 121: Female
Patient 153: Male
Patient 155: Male
Patient 157: Male
Patient 161: Male
Patient 172: Male
Patient 185: Male
Patient 191: Male
Patient 195: Female
Patient 22: Female
Patient 23: Male
Patient 25: Male
Patient 28: Female
Patient 31: Female
Patient 56: Male
Patient 86: Female
Patient 93: Male

Total number of male patients: 11
Total number of female patients: 6

In [18]:
print("Raw # Subjects​", len(all_data_dict))
print("Raw Analysis")
raw_analysis(all_data_dict)
segments = preprocessing(all_data_dict, patient_ids)
print("Processed # Subjects​", len(segments))
print("\nProcessed Analysis")
preprocessing_analysis(segments)

Raw # Subjects​ 17
Raw Analysis
total day =  1.0 121
total day =  2.0 153
total day =  2.0 155
total day =  2.0 157
total day =  2.0 161
total day =  2.0 172
total day =  2.0 185
total day =  1.9965277777777777 191
total day =  2.0 195
total day =  2.0 22
total day =  2.0 23
total day =  2.0 25
total day =  2.0 28
total day =  2.0 31
total day =  2.0 56
total day =  2.0 86
total day =  2.0 93
Mean Blood Glucose: 5.82 mmol/L
Standard Deviation of Blood Glucose: 1.13 mmol/L
Mean TIR (3.9–10.0 mmol/L): 95.97%
Standard Deviation of TIR: 7.10%
Mean TBR (< 3.9 mmol/L): 3.60%
Standard Deviation of TBR: 7.14%
Mean TAR (> 10.0 mmol/L): 0.43%
Standard Deviation of TAR: 1.52%
Mean Days: 1.94
Standard Deviation of Days: 0.24
Processed # Subjects​ 17

Processed Analysis

Overall Metrics Across All Patients:
Mean BG: 5.77 mmol/L
Standard Deviation of BG: 0.70 mmol/L
Mean TIR: 95.82%
Standard Deviation of TIR: 1.75%
Mean TBR: 3.75%
Standard Deviation of TBR: 1.77%
Mean TAR: 0.43%
Standard Deviation of TAR: 0.10%
Mean Days: 1.88
Standard Deviation of Days: 0.33

Dubosson

In [35]:
def load_rawdata_dubosson(dataset_name):
    """Loads training data from the 2018 and 2020 datasets.
    Optionally includes test data, but only for final evaluation.
    Returns both raw (unmodified) and processed (with elapsed time columns) data."""

    path = "data/" + str(dataset_name) + ".csv"

    data = pd.read_csv(path)
    data.rename(columns={"time": "Tid", "gl": "cbg"}, inplace=True)
    data["cbg"] = data["cbg"] * 0.0555
    data["id"] = data["id"].astype(str)

    if dataset_name == "colas":
        # Keep only rows where the T2DM column is True
        data = data[data["T2DM"] == True].copy()
    elif dataset_name == "hall":
        data = data[data["diagnosis"] == 2].copy()

    # Initialize an empty dictionary to store DataFrames for each patient
    all_data_dict = {}

    # Iterate over the unique patient IDs in the DataFrame
    for patient_id in data["id"].unique():
        # Filter the DataFrame for the current patient_id
        patient_data = data[data["id"] == patient_id].copy()

        # Ensure "Tid" is in datetime format for proper processing
        patient_data["Tid"] = pd.to_datetime(patient_data["Tid"])

        # Sort the DataFrame by "Tid"
        patient_data.sort_values(by="Tid", inplace=True)
        patient_data.reset_index(drop=True, inplace=True)  # Reset the index

        # Format "Tid" back to the desired string format if needed
        patient_data["Tid"] = patient_data["Tid"].dt.strftime("%d/%m/%Y %H:%M")

        patient_data = find_intervals_more_than_15_and_fill(patient_data)
        patient_data["minutes_elapsed"] = np.arange(0, len(patient_data) * 5, 5)
        patient_data["days_elapsed"] = patient_data["minutes_elapsed"] / 1440

        all_data_dict[patient_id] = patient_data

    return all_data_dict, all_data_dict.keys()

In [19]:
# Create the DataFrame
data = {
    "Age": ["NA", "20–29", "20–29", "20–29", "30–39", "30–39", "30–39", "60–69", "70–79"],
    "Gender": ["Man", "Man", "Man", "Man", "Man", "Man", "Woman", "Woman", "Woman"],
    "Height (cm)": ["180–189", "170–179", "180–189", "180–189", "180–189", "190–199", "160–169", "150–159", "160–169"],
    "Weight (kg)": ["80–89", "60–69", "70–79", "80–89", "80–89", "70–79", "70–79", "50–59", "50–59"]
}


df = pd.DataFrame(data)

# Extract lower and upper bounds from the 'Age' column
df['Lower Bound'] = df['Age'].apply(lambda x: int(x.split('–')[0]))
df['Upper Bound'] = df['Age'].apply(lambda x: int(x.split('–')[1]))

# Calculate mean lower and upper bounds
mean_lower_bound = np.mean(df['Lower Bound'])
mean_upper_bound = np.mean(df['Upper Bound'])

print("Mean Lower Bound:", mean_lower_bound)
print("Mean Upper Bound:", mean_upper_bound)
print("Mean Age Range: [{:.2f}, {:.2f}]".format(mean_lower_bound, mean_upper_bound))

ValueError: invalid literal for int() with base 10: 'NA'

In [39]:
all_data_dict, patient_ids = load_rawdata_dubosson('dubosson')

In [40]:
print("Raw # Subjects​", len(all_data_dict))
print("Raw Analysis")
raw_analysis(all_data_dict)
all_data_dict, patient_ids = load_data_glucobench('dubosson')
segments = preprocessing(all_data_dict, patient_ids)
print("Processed # Subjects​", len(segments))
print("\nProcessed Analysis")
preprocessing_analysis(segments)

Raw # Subjects​ 9
Raw Analysis
Mean Blood Glucose: 9.20 mmol/L
Standard Deviation of Blood Glucose: 4.22 mmol/L
Mean TIR (3.9–10.0 mmol/L): 58.60%
Standard Deviation of TIR: 20.19%
Mean TBR (< 3.9 mmol/L): 11.90%
Standard Deviation of TBR: 17.94%
Mean TAR (> 10.0 mmol/L): 29.49%
Standard Deviation of TAR: 19.48%
Mean Days: 3.23
Standard Deviation of Days: 1.40
Processed # Subjects​ 7

Processed Analysis

Overall Metrics Across All Patients:
Mean BG: 9.12 mmol/L
Standard Deviation of BG: 1.08 mmol/L
Mean TIR: 57.34%
Standard Deviation of TIR: 12.90%
Mean TBR: 7.60%
Standard Deviation of TBR: 5.59%
Mean TAR: 35.06%
Standard Deviation of TAR: 13.24%
Mean Days: 3.14
Standard Deviation of Days: 0.69

Hall

In [21]:
all_data_dict, patient_ids = load_data_glucobench('hall')
print("Raw # Subjects​", len(all_data_dict))
print("Raw Analysis")
raw_analysis(all_data_dict)
segments = preprocessing(all_data_dict, patient_ids)
print("Processed # Subjects​", len(segments))
print("\nProcessed Analysis")
preprocessing_analysis(segments)

Raw # Subjects​ 5
Raw Analysis
Mean Blood Glucose: 6.29 mmol/L
Standard Deviation of Blood Glucose: 1.65 mmol/L
Mean TIR (3.9–10.0 mmol/L): 94.60%
Standard Deviation of TIR: 4.21%
Mean TBR (< 3.9 mmol/L): 1.42%
Standard Deviation of TBR: 1.96%
Mean TAR (> 10.0 mmol/L): 3.98%
Standard Deviation of TAR: 4.71%
Mean Days: 7.46
Standard Deviation of Days: 1.76
Processed # Subjects​ 5

Processed Analysis

Overall Metrics Across All Patients:
Mean BG: 6.27 mmol/L
Standard Deviation of BG: 0.63 mmol/L
Mean TIR: 92.69%
Standard Deviation of TIR: 4.76%
Mean TBR: 1.49%
Standard Deviation of TBR: 1.33%
Mean TAR: 3.87%
Standard Deviation of TAR: 3.32%
Mean Days: 5.00
Standard Deviation of Days: 1.41

In [23]:
# Placeholder lists to store age values for each patient
all_ages = []

# Iterate through each patient ID and calculate average age and std for each
for patient_id, patient_data in all_data_dict.items():
    # Convert patient data to DataFrame
    df = pd.DataFrame(patient_data)
    
    # Append the 'Age' column to all_ages list
    all_ages.extend(df['Age'].dropna())  # dropna to ignore NaN values

# Calculate the mean and std for all ages across all patients
mean_age = sum(all_ages) / len(all_ages) if all_ages else float('nan')  # Mean calculation
std_age = pd.Series(all_ages).std()  # Standard deviation using pandas

# Output the results
print(f"Average Age: {mean_age:.2f}")
print(f"Standard Deviation of Age: {std_age:.2f}")

Average Age: 56.75
Standard Deviation of Age: 6.58

Weinstock

In [24]:
all_data_dict, patient_ids = load_data_glucobench('weinstock')
print("Raw # Subjects​", len(all_data_dict))
print("Raw Analysis")
raw_analysis(all_data_dict)
segments = preprocessing(all_data_dict, patient_ids)
print("Processed # Subjects​", len(segments))
print("\nProcessed Analysis")
preprocessing_analysis(segments)

Raw # Subjects​ 200
Raw Analysis
Mean Blood Glucose: 9.65 mmol/L
Standard Deviation of Blood Glucose: 4.58 mmol/L
Mean TIR (3.9–10.0 mmol/L): 50.62%
Standard Deviation of TIR: 14.00%
Mean TBR (< 3.9 mmol/L): 7.69%
Standard Deviation of TBR: 6.05%
Mean TAR (> 10.0 mmol/L): 41.69%
Standard Deviation of TAR: 16.81%
Mean Days: 15.04
Standard Deviation of Days: 5.91
maximum thresh
new thresh =  18.4815
maximum thresh
new thresh =  19.569300000000002
maximum thresh
new thresh =  20.9235
maximum thresh
new thresh =  14.541
maximum thresh
new thresh =  18.1596
maximum thresh
new thresh =  14.5077
maximum thresh
new thresh =  19.3029
maximum thresh
new thresh =  15.9285
maximum thresh
new thresh =  18.204
maximum thresh
new thresh =  13.886100000000003
maximum thresh
new thresh =  12.476400000000005
maximum thresh
new thresh =  19.5915
maximum thresh
new thresh =  16.2726
maximum thresh
new thresh =  19.3695
maximum thresh
new thresh =  20.535
maximum thresh
new thresh =  16.416900000000002
maximum thresh
new thresh =  13.641900000000001
maximum thresh
new thresh =  20.4795
maximum thresh
new thresh =  20.2464
maximum thresh
new thresh =  14.019300000000003
maximum thresh
new thresh =  17.538
maximum thresh
new thresh =  10.234200000000001
maximum thresh
new thresh =  18.0486
maximum thresh
new thresh =  13.4754
maximum thresh
new thresh =  11.5995
maximum thresh
new thresh =  19.1919
maximum thresh
new thresh =  18.0375
maximum thresh
new thresh =  16.916400000000003
maximum thresh
new thresh =  20.3352
maximum thresh
new thresh =  7.4925
maximum thresh
new thresh =  11.8992
maximum thresh
new thresh =  20.2908
maximum thresh
new thresh =  18.5259
Processed # Subjects​ 189

Processed Analysis

Overall Metrics Across All Patients:
Mean BG: 9.66 mmol/L
Standard Deviation of BG: 1.90 mmol/L
Mean TIR: 50.44%
Standard Deviation of TIR: 15.21%
Mean TBR: 7.52%
Standard Deviation of TBR: 6.81%
Mean TAR: 39.78%
Standard Deviation of TAR: 15.94%
Mean Days: 7.94
Standard Deviation of Days: 3.34

In [ ]:
# Initialize counters for male and female patients
male_count = 0
female_count = 0

# Dictionary to store gender per patient
gender_per_patient = {}

# Iterate over each patient's data in the dictionary
for patient_id, data in all_data_dict.items():
    # Extract the gender value for the patient from the first row (assuming it's the same for the entire patient)
    gender = data['Gender'].iloc[0]  # Using the first row to determine gender
        
    # Count the gender
    if gender == 'M':
        male_count += 1
    elif gender == 'F':
        female_count += 1

# Output the gender of each patient and the counts
print("Gender of each patient:")
for patient_id, gender in gender_per_patient.items():
    print(f"Patient {patient_id}: {gender}")

print(f"\nTotal number of male patients: {male_count}")
print(f"Total number of female patients: {female_count}")

Gender of each patient:

Total number of male patients: 106
Total number of female patients: 94

In [26]:
# Initialize counters for male and female patients
male_count = 0
female_count = 0

# Dictionary to store gender per patient
gender_per_patient = {}

# Iterate over each patient's data in the dictionary
for patient_id, data in segments.items():
    # Extract the gender value for the patient from the first row (assuming it's the same for the entire patient)
    gender = all_data_dict[patient_id]['Gender'].iloc[0]  # Using the first row to determine gender
        
    # Count the gender
    if gender == 'M':
        male_count += 1
    elif gender == 'F':
        female_count += 1

# Output the gender of each patient and the counts
print("Gender of each patient:")
for patient_id, gender in gender_per_patient.items():
    print(f"Patient {patient_id}: {gender}")

print(f"\nTotal number of male patients: {male_count}")
print(f"Total number of female patients: {female_count}")

Gender of each patient:

Total number of male patients: 100
Total number of female patients: 89

ISO

In [7]:
patient_ids = [str(i) for i in range(102, 224)]
to_remove = [
    "103",
    "108",
    "110",
    "113",
    "115",
    "116",  # Not sure yet
    "122",
    "126",
    "127",
    "128",
    "130",
    "134",
    "139",
    "143",
    "144",
    "146",
    "149",
    "152",
    "155",
    "156",
    "164",
    "174",
    "175",
    "176",
    "177",
    "180",
    "185",
    "186",
    "190",
    "193",
    "194",
    "197",
    "203",
    "206",
    "211",
    "212",
    "220",
]
patient_ids = list(set(patient_ids) - set(to_remove))
all_data_dict = {}

for patient_id in patient_ids:
    all_data = load_data_iso(patient_id)
    all_data_dict[patient_id] = all_data

In [8]:
print("Raw # Subjects​", len(all_data_dict))
print("Raw Analysis")
raw_analysis(all_data_dict)
segments = preprocessing(all_data_dict, patient_ids)
print("Processed # Subjects​", len(segments))
print("\nProcessed Analysis")
preprocessing_analysis(segments)

Raw # Subjects​ 85
Raw Analysis
Mean Blood Glucose: 9.99 mmol/L
Standard Deviation of Blood Glucose: 3.67 mmol/L
Mean TIR (3.9–10.0 mmol/L): 50.75%
Standard Deviation of TIR: 33.00%
Mean TBR (< 3.9 mmol/L): 0.80%
Standard Deviation of TBR: 2.78%
Mean TAR (> 10.0 mmol/L): 48.45%
Standard Deviation of TAR: 33.45%
Mean Days: 4.05
Standard Deviation of Days: 2.38
Processed # Subjects​ 85

Processed Analysis

Overall Metrics Across All Patients:
Mean BG: 10.51 mmol/L
Standard Deviation of BG: 2.85 mmol/L
Mean TIR: 49.85%
Standard Deviation of TIR: 6.86%
Mean TBR: 0.83%
Standard Deviation of TBR: 0.69%
Mean TAR: 49.22%
Standard Deviation of TAR: 7.00%
Mean Days: 3.46
Standard Deviation of Days: 2.36

T1DEXI

In [30]:
all_data_dict, patient_ids = load_data_glucobench('T1DEXI_adults')
print("Raw # Subjects​", len(all_data_dict))
print("Raw Analysis")
raw_analysis(all_data_dict)
segments = preprocessing(all_data_dict, patient_ids)
print("Processed # Subjects​", len(segments))
print("\nProcessed Analysis")
preprocessing_analysis(segments)

Raw # Subjects​ 497
Raw Analysis
Mean Blood Glucose: 8.12 mmol/L
Standard Deviation of Blood Glucose: 3.13 mmol/L
Mean TIR (3.9–10.0 mmol/L): 73.91%
Standard Deviation of TIR: 15.27%
Mean TBR (< 3.9 mmol/L): 3.38%
Standard Deviation of TBR: 3.18%
Mean TAR (> 10.0 mmol/L): 22.71%
Standard Deviation of TAR: 15.77%
Mean Days: 27.39
Standard Deviation of Days: 2.99
maximum thresh
new thresh =  21.3564
maximum thresh
new thresh =  18.648
maximum thresh
new thresh =  14.7741
maximum thresh
new thresh =  20.4795
maximum thresh
new thresh =  18.7257
maximum thresh
new thresh =  19.4805
maximum thresh
new thresh =  20.279700000000002
maximum thresh
new thresh =  20.3796
maximum thresh
new thresh =  21.3675
maximum thresh
new thresh =  21.2565
maximum thresh
new thresh =  14.2857
maximum thresh
new thresh =  18.381600000000006
maximum thresh
new thresh =  13.542
maximum thresh
new thresh =  14.097
maximum thresh
new thresh =  14.3745
maximum thresh
new thresh =  14.1414
maximum thresh
new thresh =  18.858900000000002
maximum thresh
new thresh =  19.280700000000003
maximum thresh
new thresh =  19.236300000000004
maximum thresh
new thresh =  13.2201
maximum thresh
new thresh =  20.202
maximum thresh
new thresh =  17.3715
maximum thresh
new thresh =  14.8185
maximum thresh
new thresh =  21.3675
maximum thresh
new thresh =  19.8357
Processed # Subjects​ 496

Processed Analysis

Overall Metrics Across All Patients:
Mean BG: 8.16 mmol/L
Standard Deviation of BG: 1.45 mmol/L
Mean TIR: 73.33%
Standard Deviation of TIR: 12.40%
Mean TBR: 3.32%
Standard Deviation of TBR: 3.30%
Mean TAR: 22.59%
Standard Deviation of TAR: 12.18%
Mean Days: 23.20
Standard Deviation of Days: 3.79